.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px
}

.header {
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header .heading {
    font-weight: bold;
    font-size: 2.5rem;
}

.header .heading span {
    color: #22c48b;
}